server:
  port: 80
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/,http://eureka7003.com:7003/eureka/
    register-with-eureka: false       #作为消费者不提供服务，不应该注册自己
feign: 
   hystrix:
     enabled: true